[Desktop Entry]
Name=MiniShell
Comment=Custom Unix-like Shell
Exec=minishell
Icon=minishell
Terminal=true
Type=Application
Categories=System;TerminalEmulator;
