[Desktop Entry]
Name=MiniShell
Comment=Custom Unix-style command-line shell
Exec=mnsh
Icon=mnsh
Terminal=true
Type=Application
Categories=System;TerminalEmulator;
