Checks: >
  clang-analyzer-*,
  bugprone-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg

WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'